.col{
    
    border: 3px solid #E3E8F1;
}


.col-lg-12{
    padding: em;
}

#header-container 
.row 
.col-md-3 table tr th{
    font-weight: 400;
}

#header-container 
.row 
.col-md-3 table tr{
    margin-right: 1em;
}

.container-wrapper-contents{
    padding: 0 2.7em 0 2.7em;
}
/* Card */
.col-md-12:nth-child(2){
    margin-top: 2em;
    padding: 2em;
    /* outline: auto; */
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);

}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

.card-header button{
    background-color: none;
    border: none;
}



.table-fixed {
   thead > tr, tbody > tr {
     display: flex;
     justify-content: space-around;
     flex: 0 0 auto;
 
     th, td {
       flex: 1;
     }
   }
 
   tbody {
     overflow: scroll;
     display: flex;
     flex-direction: column;
   }
 }
 
 .table-lock-height > tbody {
   height: 40vh;
 }